body {
  background-color:Gray;
}



table, th, td, tr {
    border: 3px solid black;
     border-collapse: collapse;
     padding-bottom: 1em;

}
table {
    width: 100%;
}
tr {
  background-color: darkgray;
}

th {
    padding: 15px;
}
#ams{
  width:450px;
}

.clearfix:before, .clearfix:after {
  content:"";
  display: table;
  clear: both;
}

.container {
  max-width:1300px;
  margin:auto;
  background-color: lightGrey;
  color: navy;
  padding:1.2em;
}
.favCity img{
  float:left;
  width:20%;
  height: 20;
}

.block{
  display: inline-block;
}

.site-p{

max-width: 400px;
}

.myProfile{
  text-align: center;
}
#title{
  max-width:900px;
  position: relative;
  left: 50px;
}
